html, body
{
    background-color: chartreuse;
}

#label_item
{
    color: rgb(255, 0, 0);
    font-weight: 900;
}

#label_sketch
{
    font-weight: bolder;
}

#label_accuracy
{
    font-weight:bolder;
}

#label_score
{
    float: left;
    padding-left: 15px;
    font-weight: 900;
}

#label_timer
{
    float: right;
    padding-right: 80px;
    font-weight: 900;
}

h1
{
    font-weight: 900;
    color: blue;
    padding-left: 100px;
}

#show_sketch
{
    float: right;
    margin-right: 20px;
}

.modal-title
{
    font-size:x-large;
}

#myModal
{
    width: 1050px;
    margin-left: 220px;
}